{{#partial "active"}}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/view_hero">View Heroes</a></li>
        <li role="presentation" class="active"><a href="/create_hero">Create New Hero</a></li>
        <li role="presentation"><a href="/view_squa">View Squads</a></li>
    </ul>
{{/partial}}


{{#partial "content"}}
<h1>Create a hero!</h1>
<form action="/create_hero/new" method="post">
    <label for="alias">Alias</label>
    <input id="alias" name="alias" type="text">

    <label for="age">Age</label>
    <input id="age" name="age" type="number">

    <label for="power">Power</label>
    <input id="power" name="power" type="text">

    <label for="kryptonite">Weakness</label>
    <input id="kryptonite" name="kryptonite" type="text">

    <label for="squa">Weakness</label>
    <select id="squa" name="squa">
        <option value="kitchen">Kitchen Masters</option>
        <option value="spice">Spice Masters</option>
        <option value="meat">Meat Masters</option>
        <option value="sous">Sous Masters</option>
    </select>

    <button type="submit" class="btn btn-default">Add Hero</button>
</form>
{{/partial}}
{{> layout.hbs}}