<!--Here you can view a squads details and it's members and add heroes to the squad-->
<!--Get clicked squaa details and form and Fill in the page according to the squaas details.-->
{{#partial "title"}}
<!--{SquaName}-->
{{/partial}}

{{#partial "active"}}
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/view_hero">View Heroes</a></li>
        <li role="presentation"><a href="/create_hero">Create New Hero</a></li>
        <li role="presentation" class="active"><a href="/view_squa">View Squads</a></li>
    </ul>
{{/partial}}

{{#partial "content"}}
    <div class="card">
        <h1 class="block">MasterSquad</h1>
        <hr>
        <h2> {{ cause }}  </h2>
        <h3>  {{members}} members   </h3>
    </div>
    <div class="container">

    </div>
{{/partial}}
{{#partial "content"}}

{{/partial}}
{{> layout.hbs }}