{{#partial "content"}}
    {{#if username}}
        <h1>{{username}}'s Hero Squads!</h1>
        <ol class="list-group">
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <img src="" class="p-2"/>
                    <p class="p-2">KitchenMasters</p>
                    <a href="/view_squad"><button class="p-2 btn">View Squad</button></a>
                </div>
            </li>
            <hr>
            <li class="list-group-item d-flex flex-row">
                <img src="" class="p-2"/>
                <p class="p-2">MeatMasters</p>
                <a href="/view_squad"><button class="p-2 btn">View Squad</button></a>
            </li>
            <hr>
            <li class="list-group-item d-flex flex-row">
                <img src="" class="p-2"/>
                <p class="p-2">SpiceMasters</p>
                <a href="/view_squad"><button class="p-2 btn">View Squad</button></a>
            </li>
            <hr>
        </ol>
    {{else}}
        <form action="/session" method="post" class="container">
            <label for="username">Enter a Username</label>
            <input id="username" name="username" type="text">
            <button type="submit">Submit Username</button>
        </form>
    {{/if}}
{{/partial}}

{{>layout.hbs}}